said[who*='douglas'] {
	color: pink;
}

said[who*='narrator'] {
	color: blue;
}

said[who*='governess'] {
	color: orange;
}

said[who*='mrgross'] {
	color: red;
}

said[who*='miles'] {
	color: green;
}

said[who*='flora'] {
	color: green;
}